.new_article
{
	font-size: 16px;
	font-weight: bold;
	color:#1E90FF;
	margin: 10px;
}
.article:hover,.blog:hover
{
	color:#ff0000;
}
.container
{
	margin: 5%;
}
.blog
{
	float: right;
}
.article
{
	float: left;
}
.blog_content
{
	margin: 5%;
}